-e git+ssh://git@github.com/sebascuri/rllib@master#egg=rllib
numpy>=1.14,<2
scipy>=1.3.0,<1.4.0
torch>=1.6.0,<1.7.0
gym>=0.15.4
atari_py>=0.2.6
tqdm>=4.0.0,<5.0
matplotlib>=3.1.0
gpytorch>=1.1.1,<1.2.0
tensorboardX>=2.1,<3
mujoco-py<2.1,>=2.0
lsf_runner==0.0.5
pandas>=0.25.0
seaborn>=0.11.0
